<div class="navbar">
  <a href="index" class="left"><img src="images/exit.png"></a>
  <a href="profile"><img src="images/profile.png"></a>
  <a href="favorites"><img src="images/heart.png"></a>
</div>
