<!doctype html>
<html lang = "en">
<head>
	{{> common_resources}}
</head>
<body>
	<div class="navbar">
		<a href="index" class="left"><img src="images/back.png"></a>
		<a href="#" class="left nav-item help" id="favoritesHelp"><img src="images/help.png"></a>
		<a href="profile"><img src="images/profile.png"></a>
		<a href="favorites"><img src="images/heart.png"></a>
	</div>

	<div class="container">
		<h1 class="title-text">Favorites</h1>
		<br>
		<br>
		<ol>
		{{#each phrases}}
		<li>
			<ul>
				<li>{{french}}</li>
				<li>{{english}}</li>
			</ul>
		</li>
		<br>
		{{/each}}
		</ol>
	</div>


	{{!-- <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/home.js"></script> --}}
</body>
</html>
