<!doctype html>
<html lang = "en">
<head>
	{{> common_resources}}
	<script src="js/home.js"></script>
	{{> google_analytics}}
</head>
<body>
	<div class="navbar">
		<a href="index" class="left"><img src="images/back.png"></a>
		<a href="#" class="left nav-item help" id="favoritesHelp"><img src="images/help.png"></a>
		<a href="profile"><img src="images/profile.png"></a>
		<a href="favorites"><img src="images/heart.png"></a>
	</div>

	<div class="container">
		<h1 class="title-text">Favorites</h1>
		<br>

		{{#each favorites}} <!-- begin categorizing each topic -->
		<div class="favCategory">{{topic}}</div>
		
				{{#each phrasePairs}}  <!-- begin retrieving each phrase pair in the topic -->
				<div class="twocolumn">
				<div class="rightborder">{{this.[0]}}</div> <!-- index 0 is a french phrase -->
				<div>{{this.[1]}}</div> <!-- index 1 is an english phrase -->
				</div>
				<br>
				{{/each}}
				
		
	
		<br>
		{{/each}}  <!-- end categorizing each topic -->
	</div>


	{{!-- <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/home.js"></script> --}}
</body>
</html>
