<!doctype html>
<html lang = "en">
<head>
	<title>fraise - learn conversational French</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/home.js"></script>
	<script src="js/bootstrap.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/fraise.css" rel="stylesheet">
</head>
<body>
	<div class="navbar">
	<a href="index" class="left"><img src="images/back.png"></a>
    <a href="#" class="left nav-item help"><img src="images/help.png"></a>
    <a href="profile"><img src="images/profile.png"></a>
    <a href="favorites"><img src="images/heart.png"></a>
	</div>

	<div class="container">
		<h1 class="title-text">Favorites</h1>
		<h4>Your favorite lessons</h4>
		<ul>
			<li>Issues at the hotel</li>
			<li>At the train station</li>
		</ul>
		<h4>Your favorite phrases</h4>
		<ul>
			<li>J'aime les fraises francaises!</li>
			<li>J'ai besoin de...</li>
		</ul>
	</div>


	
	
	{{!-- <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/home.js"></script> --}}
</body>
</html>
