<!doctype html>
<html lang = "en">
<head>
	<title>fraise - learn conversational French</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/fraise.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/home.js"></script>
	<script src="js/bootstrap.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
</head>
<body>
	
	<div class="navbar">
  <a href="#" class="left nav-item help"><img src="images/help.png"></a>
  <a href="profile"><img src="images/profile.png"></a>
  <a href="favorites"><img src="images/heart.png"></a>
	</div>


	<div class="container">
		<h1 class="title-text">Hello!</h1>
		<h3 class="title-text">What would you like to talk about?</h3>
		<br>
		<br>
		{{!-- <form id="search-form" role="form" method="get" action="/search">
	    <div class="form-group">
	      <label for="topic" id="search-prompt">Search</label>
	      <input type="text" class="form-control" id="topic" placeholder="Topic" name="topic">
	    </div>
		</form> --}}
		{{!-- <p id="search-result"></p> <!-- this will change dynamically as defined in home.js --> --}}
	</div>

	{{#each topics}}
	<div class="row topic-row">
		<div class="column" id={{name}}>
			<a href={{href}}><button type="button" class="btn btn-primary btn-block">{{name}}</button></a>
		</div>
	</div>
	{{/each}}
	
</body>
</html>
