<!doctype html>
<html lang = "en">
<head>
	<title>fraise - learn conversational French</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/lesson.js"></script>
	<script src="../js/bootstrap.js"></script>
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/fraise.css" rel="stylesheet">
</head>
<body>

	<div class="navbar">
		<a href="../index" class="left"><img src="../images/back.png"></a>
		<a href="#" class="left nav-item help" id="lessonHelp"><img src="../images/help.png"></a>
		<a href="../profile"><img src="../images/profile.png"></a>
		<a href="../favorites"><img src="../images/heart.png"></a>
	</div>

	<div class = "lessonName"><h4 class="text-center" id="topicName"></h4></div>

	<div class = "container">
	<p>All of the phrases in this lesson are listed here. Scroll to the bottom to access the flashcard practice feature and to take a quiz.</p>
	<hr>

	{{#each phrases}}
	<div class="phrase-pair">
		<div class="column column-phrase">
			<p class="english">{{english}}</p>
			<br>
			<p class="french">{{french}}</p> <br><hr><br>
		</div>
		<div class="column column-icon">
			<p><span class="frenchtoggle"><img src="../images/dotdot.png"></span></p><br>
			<p><span class="glyphicon glyphicon-heart" id="heart{{@index}}"></span></p> <br><hr><br>
		</div>
	</div>
	<br>
	<hr>
	<br>
	{{/each}}

	<div class="topic-row">
		<!-- TODO: change the attribute href for the below depending on topic rendered. -->
		<a id="practiceButton" href="practice/help"><button type="button" class="btn btn-primary btn-block">Practice</button></a>
	</div>
	<div class="topic-row">
		<a id="quizButton" href="quiz/help"><button type="button" class="btn btn-primary btn-block">Quiz</button></a>
	</div>
	</div>
</div>
</body>
</html>
