<!doctype html>
<html lang = "en">
<head>
	{{> common_resources}}
</head>
<body>
	{{> navbar}}

	<div class="container text-center achievescreen">
		<br>
		<h1>Achievement Unlocked!</h1>
		<br>
		<img src="images/achievement.png"></img>
		<br>
		<h1>You finished your first quiz!</h1>
		<br>
	</div>

	<div class="text-center">
		<p>View My Profile</p>
		<h1><a href="profile" class=icon><img src="images/forward.png"</a></h1>
	</div>
	{{!-- <div class="container" id="next-button">
		<h1 class='text-center'><a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></h1>
	</div> --}}

</body>
</html>
