<!doctype html>
<html lang = "en">
<head>
	<title>fraise</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/home.js"></script>
	<script src="js/bootstrap.js"></script>
	<link href="css/login.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/fraise.css" rel="stylesheet">
	{{> facebook}}
	<script src="/js/facebook.js"></script>
</head>
<body>

	<img src="/images/logo.png" alt="Strawberry/Fraise"  height="200" class="center">
	
	
	<div class="login-page">

		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '651616675407454',
		      cookie     : true,
		      xfbml      : true,
		      version    : 'v3.2'
		    });
		      
		    FB.AppEvents.logPageView();   
		      
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "https://connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>

	  <div class="form">
	    <form class="register-form">
	      <input type="text" placeholder="username"/>
	      <input type="password" placeholder="password"/>
	      <input type="text" placeholder="email address"/>
	      <button> <a href="index">create</a></button>
	      <p class="message">Already registered? <a href="#">Sign In Below</a></p>
	    </form>
	    <form class="login-form">
	      <input type="text" placeholder="username" id="usernameBox"/>
	      <input type="password" placeholder="password" id="passwordBox"/>
		  <img id="photo" class='img-responsive' src="#"/>
		  <h4 id="fbUsername" class="text-center"></h4>
	      <p class="facebookLogin">Please login through Facebook 
	      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
	      <a href="https://www.facebook.com/help/570785306433644?helpref=hc_global_nav">Help on Facebook Accounts</a>
	      </p>
	      <!-- <button> <a href="index">login</a></button> -->
	      <a href="index"><button type="button" class="btn btn-primary" id="loginButton">Log In</button></a>
	    </form>
	  </div>
	</div>

	
</body>
</html>
