<!doctype html>
<html lang = "en">
<head>
	<title>fraise - learn conversational French</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/fraise.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/home.js"></script>
	<script src="js/bootstrap.js"></script>
	<meta charset = "UTF-8" />
</head>
<body>
	<div class="navbar">
	<a href="index" class="left"><img src="images/back.png"></a>
	<a href="#" class="left nav-item help" id="profileHelp"><img src="images/help.png"></a>
    <a href="profile"><img src="images/profile.png"></a>
    <a href="favorites"><img src="images/heart.png"></a>
	</div>

	<!-- <a href="login" ><img src="images/back.png"></a> -->

	<!-- start of popups -->
	<!-- <div class="big-box-spaces py-5">
	  <div class="container py-5">
	    <section class="spaces">
	      <div class="row">
	       
	        <div class="col-xs-12 box-space-photo">
	          <div class="small-box-space-photo">
	            <div class="mini-box-space-photo position-relative">
	              <img src="https://s3.amazonaws.com/uploads.hipchat.com/485069/4047181/EWbdPrNIfyuao7j/upload.png" alt="Holstein space" class="w-100 img-responsive mt-3 mt-lg-0">
	              <button type="button" class="pop-button button1" data-placement="bottom" data-trigger="click" data-toggle="popover" title="Did you know?" data-content="This purple planet is...Earth!"><span>+</span></button>
	              <button type="button" class="pop-button button2" data-placement="bottom" data-trigger="click" data-toggle="popover" title="Did you know?" data-content="Dan Spacley Pilots the ship to a successful website!"><span>+</span></button>
	              <button type="button" class="pop-button button3" data-placement="bottom" data-trigger="click" data-toggle="popover" title="Did you know?" data-content="Here you can see planet Markury, where your digital marketers roam."><span>+</span></button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
	  </div>
	</div> -->
	<!-- end of popups -->

<!-- beginning of popup form -->
	<!-- <div class="form-popup" id="myForm">
	  <form action="/action_page.php" class="form-container">
	    <h1>Login</h1>

	    <label for="email"><b>Email</b></label>
	    <input type="text" placeholder="Enter Email" name="email" required>

	    <label for="psw"><b>Password</b></label>
	    <input type="password" placeholder="Enter Password" name="psw" required>

	    <button type="submit" class="btn">Login</button>
	    <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
	  </form>
	</div> -->
<!-- end of popup form -->

	<!-- <div class="container">
		<h1>Sign In</h1>
		<form>
		<fieldset>
			<legend>Text input</legend>
			<p>
			<label>Name</label>
			<input type = "text"
					id = "myUsername"
					value = "username" />
			</p>
			<p>
			<label>Password</label>
			<input type = "password"
					id = "myPwd"
					value = "secret" />
			</p>
			<p>
			<label>Text Area</label>
			<textarea id = "myTextArea"
					rows = "3"
					cols = "80">Enter Your Goals</textarea>
			</p>
			<input type="button" value="Sign In" onclick="submitform()">
		</fieldset>
		</form>
	</div> -->

	<div class="container">
		<h1 class="title-text">Profile</h1>
		<br>
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Strawberry.jpg/320px-Strawberry.jpg" alt="" class="img img-responsive img-rounded">
		<h3>strawberrypower<span class="badge badge-primary">LVL 1</span></h3>
		<p>Did you know fraise means strawberry in French?</p>
		<br>
		<div class="achievementlist">
		<h4>Achievements</h4>
		<img src="images/achievementlist.png">
		<p>Days active: 1</p>
		<p>Lessons completed: 1</p>
		<p>Quizzes passed: 1</p>
		<p>Global rank: 99</p>
		</div>
		<br>
		<h4>Friends   <button type="button" class="btn btn-primary" id="addFriendButton">Add Friend</button></h4>
		{{#each profiles}}
		<p>{{myUsername}}<span class="badge badge-primary"> LVL {{myTextArea}}</span></p>
		{{/each}}
		<br>
		
		<form id="addFriendForm" role="form" method="get" action="/add">
			<h4>Add a friend by username or email</h4>
			<div class="form-group">
			<label for="name">Username:</label>
			<input type="text" class="form-control" id="name" placeholder="Name" name="name">
			</div>
			<div class="form-group">
			<label for="description">Email:</label>
			<input type="text" class="form-control" id="description" placeholder="Description" name="description">
			</div>
			<input type="submit" id="submitBtn" class="btn btn-default" value="Add Friend"></input>
		</form>
	</div>

	{{!-- <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/home.js"></script> --}}
</body>
</html>
