<!doctype html>
<html lang = "en">
<head>
	<title>fraise - learn conversational French</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/fraise.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/home.js"></script>
	<script src="js/bootstrap.js"></script>
	<meta charset = "UTF-8" />
</head>
<body>
	<div class="navbar">
	<a href="index" class="left"><img src="images/back.png"></a>
	<a href="#" class="left nav-item help"><img src="images/help.png"></a>
    <a href="profile"><img src="images/profile.png"></a>
    <a href="favorites"><img src="images/heart.png"></a>
	</div>

	<div class="container">
		<h1>Sign In</h1>
		<form>
		<fieldset>
			<legend>Text input</legend>
			<p>
			<label>Name</label>
			<input type = "text"
					id = "myUsername"
					value = "username" />
			</p>
			<p>
			<label>Password</label>
			<input type = "password"
					id = "myPwd"
					value = "secret" />
			</p>
			<p>
			<label>Text Area</label>
			<textarea id = "myTextArea"
					rows = "3"
					cols = "80">Enter Your Goals</textarea>
			</p>
			<input type="button" value="Sign In" onclick="submitform()">
		</fieldset>
		</form>
	</div>

	<div class="container">
		<h1 class="title-text">Profile</h1>
		<br>
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Strawberry.jpg/320px-Strawberry.jpg" alt="" class="img img-responsive img-rounded">
		<h3>strawberrypower<span class="badge badge-primary">LVL 1</span></h3>
		<p>Did you know fraise means strawberry in French?</p>
		<br>
		<h4>Statistics</h4>
		<p>Days active: 1</p>
		<p>Lessons completed: 0</p>
		<p>Phrases completed: 0</p>
		<p>Global rank: 99</p>
		<br>
		<br>
		<h4>Friends</h4>
		<p>bigbaguette</p>
	</div>

	{{!-- <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/home.js"></script> --}}
</body>
</html>
