<!doctype html>
<html lang = "en">
<head>
	<title>fraise - learn conversational French</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/lesson.js"></script>
	<script src="../js/bootstrap.js"></script>
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/fraise.css" rel="stylesheet">
	{{> google_analytics}}
</head>
<body>

	<div class="navbar">
		<a id="lessonLink" href="#" class="left"><img src="../images/exit.png"></a>
		{{!-- <a href="#" class="left nav-item help" id="practiceHelp"><img src="../images/help.png"></a> --}}
		<h4 class='text-center' id="quizhead">Quiz</h4>
					
		{{!-- <a href="profile"><img src="images/profile.png"></a>
		<a href="favorites"><img src="images/heart.png"></a> --}}
	</div>


	<br>
	<h5 class='text-center'>Which is the correct translation?</h5>
	<br>
	<!--Todo: allow randomly generated phrase index -->
	<h4 class='text-center'>{{phrases.[1].english}}</h4>
	<br>

	{{#each phrases}}
	<div class="container">
		<a href="#"><button type="button" class="btn btn-primary btn-block choice-button" id="{{french}}">
			{{french}}</button><a>
	</div>
	<br>
	{{/each}}
	
	<div class="container" id="next-button">
		<h1 class='text-center'><a href="../levelup"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></h1>
		<p class="text-center">Submit</p>"
	</div>

	<div class="container progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" 
						aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
					</div>

</body>
</html>
