
.container {
    margin-left: 0px;
    margin-right: 0px;
}

/* .navbar-brand {
    margin: auto;
}

.nav-item {
    font-size: 30px;
    padding-right: 15px;
} */

.title-text {
    text-align: center;
}

.topic-row{
    margin: auto;
    float: left;
    width: 50%;
}

.topic-row .column{
    float: center;
    width: 100%;
    padding: 15px 5px;
    align-items: center;
}

.topic-row .btn {
    font-size: 20px;
    line-height: 4.5;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}

.achievement-row{
    padding-left: 80px;
    padding-right: 80px;
}

.achievement-row .column{
    float:left;
    width: 33%;
    padding: 20px 20px;
}
.topic-name-column{
    float:left;
    width: 50%;
}
.topic-search-column{
    float:left;
    width: 50%;
}

.phrase-pair p{
    font-size: 16px;
}

.column-phrase {
    float:left;
    width: 90%;
}
.column-icon {
    float:left;
    width: 10%;
}

.phrase-button {
    font-size: 15px;
    height: auto;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
    overflow:auto;
}

.choice-button {
    font-size: 12px;
    height: auto;
    width: 85%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    overflow:auto;
}

h4 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h1 {
    text-align: center;
}

.lessonName {
    background-color: #FF8EA4;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.help {
    content: "images/help.png"
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #7AC9AB;
    overflow: auto;
  }
  
  .navbar img{
    height: 40px;
  }

  /* Navbar links */
  .navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar .left{
      float: left;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgb(27, 56, 47);
  }
  
  /* Current/active navbar link */
  .active {
    background-color: rgb(255, 255, 255);
  }
  
  /*adjusts image sizes*/
  .frenchtoggle img {
      height: 20px;
  }

  .icon img {
      height: 40px;
  }

  .achievescreen img {
    height: 300px;
  }

  .achievementlist {
      margin-left: 20px;
  }

  .achievementlist img {
      height: 40px;
  }

  .img-responsive {
      height: 120px;
  }

  .box {
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    margin-bottom: 10px;
  }

  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #profilepic{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .picfriends {
      height: 40px;
  }

  .tab {
    position: absolute;
  }

  .row {
    display: inline-block;
  }

  .right {
      float: right;
  }

  a {
      color:#7AC9AB;
  }

  .twocolumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;

  }
  .profileinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    padding-bottom: 25px;
    padding-top: 10px;
  }

  .achievescore{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  .textcenter{
      text-align: center;
  }
