body { padding-top: 70px; } /* needed to prevent navbar overlaying body */

.navbar-brand {
    margin: auto;
}

.nav-item {
    font-size: 30px;
    padding-right: 15px;
}

.title-text {
    text-align: center;
}

#search-prompt {
    color:gray;
}

#search-box{
    padding-left: 140px;
    padding-right: 140px;
}

.topic-row{
    margin: auto;
    float: left;
    width: 50%;
}

.topic-row .column{
    float:left;
    width: 100%;
    padding: 20px 20px;
    align-items: center;
}

.topic-row .btn {
    font-size: 20px;
    line-height: 4.5;
    width: 60%;
    margin: auto;
}

.achievement-row{
    padding-left: 80px;
    padding-right: 80px;
}

.achievement-row .column{
    float:left;
    width: 33%;
    padding: 20px 20px;
}
.topic-name-column{
    float:left;
    width: 50%;
}
.topic-search-column{
    float:left;
    width: 50%;
}

.phrase-pair{
    padding: 20px 90px;
}
.phrase-pair p{
    font-size: 20px;
}

.column-phrase {
    float:left;
    width: 90%;
}
.column-icon {
    float:left;
    width: 10%;
}

.phrase-button {
    font-size: 20px;
    height: auto;
    width: 60%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    overflow:auto;
}

.choice-button {
    font-size: 20px;
    height: auto;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    overflow:auto;
}